@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --bg: #e5e5e5;
  --blue: #0078e7;
  --grey: #5a5a5a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 130rem;

  margin: 0 auto;
  padding: 2rem 10%;
  /* background-color: #fff; */
}

.header {
  max-width: 130rem;

  margin: 0 auto;
  padding: 2rem 10%;
  /* height: 10rem; */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul:first-child {
  font-size: 2rem;
}

li {
  list-style: none;
}

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}
.navigation__item:not(:last-child) {
  margin-right: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: #000000;
  padding: 1.2rem 2rem;
}

.navigation__link.active:link,
.navigation__link.active:visited {
  color: var(--blue);
}
.btn {
  background-color: #0078e7;
  color: #fff;
  border-radius: 20px;
  font-size: 1.4rem;
  white-space: nowrap;
}

.btn:hover {
  color: #0078e7;
  background-color: #fff;
  border: 1px solid #0078e7;
}

/* .grid:last-child {
    margin-bottom: 0;
  } */

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero__p {
  font-size: 2rem;
}

h1 {
  font-size: 6rem;
  margin-bottom: 4rem;
  position: relative;
  line-height: 1.2;
}

h2 {
  text-transform: uppercase;
}

.line {
  position: absolute;
  display: grid;
  margin-top: -1rem;
}

/* GALLERY */

.gallery {
  margin-bottom: 4rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);

  grid-template-rows: repeat(4, 5vw);
  padding: 1.5rem;
  grid-gap: 1.5rem;
}

.gallery__item {
  position: relative;
}

.gallery__img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}
.gallery__item--2 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
}
.gallery__item--3 {
  grid-column: 6 / span 3;
  grid-row: 1 / span 2;
}
.gallery__item--4 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
.gallery__item--5 {
  grid-column: 3 / span 3;
  grid-row: 3 / span 2;
}
.gallery__item--6 {
  grid-column: 6 / span 3;
  grid-row: 3 / span 2;
}
.gallery__item::after {
  content: "Abc";

  height: 100%;
  width: 100%;
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  background-color: red;
}
/* .gallery__item:hover(:not) ~ .gallery__item::after {
  display: block;
} */

@media (max-width: 54.2em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 46.8em) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .navigation ul:first-child {
    font-size: 1.4rem;
  }
}
